*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* For testing only */

/**:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}*/

/* End for testing */


body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
  padding: 1
}

.box:nth-child(-n+5) {
  margin: 0 auto 14px;
}

.wrapper {
  padding: 14px;
}

.text {
  width: 66.667%;
}

.box:first-of-type {
  background-image: url(../img/auditorium.jpg);
}

.box:last-of-type {
  background-image: url(../img/gen-z.jpg);
}

.box {
  position: relative;
}

.box:first-of-type, .box:last-of-type {
  height: 340px;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.head {
  font-size: 1.8rem;
  margin-bottom: .7rem;
}

.image {
  width: 33.3333%;
  background-size: cover;
  background-position: center;
  height: 85px;
  margin: 10px;
}

#one {
  background-image: url('../img/youtube.jpg');
}

#two {
  background-image: url('../img/hands.jpg');
}

#three {
  background-image: url('../img/netflixy.png');
}

#four {
  background-image: url('../img/littleOnes.jpg');
}

.box:nth-child(n+2) .image {
  float: left;
  padding: 10px;
}
/*
img {
  max-width: 100%;
  max-height: 85px;
  margin: 0 auto;
  display: block;
}*/

.box:nth-child(n+2):nth-child(-n+5) .text {
  height: 100%;
  float: right;
  padding: 10px 15px 10px 5px;
}

.box:nth-child(n+2):nth-child(-n+5) {
  overflow: auto;
  clear: both;
  background-color: #fff;
}

.box:first-of-type .text, .box:last-of-type .text {
  padding: 25px;
  position: absolute;
  bottom: 0;
}



/*media queries*/

@media screen and (min-width: 600px) {
  .wrapper {
    padding: 30px;
  }

  .box:last-of-type {
    overflow: auto;
    clear: both;
  }

  .box:nth-child(n+2):nth-child(-n+5) .text {
    float: none;
    padding: 0;
    height: auto;
    text-align: center;
    margin: auto;
  }

  .box:nth-child(n+2):nth-child(-n+5) {
    float: left;
    width: 48%;
    height: 345px;
    display: inline;
    clear: none;
  }

  .box:nth-child(even):nth-child(-n+5) {
    margin-right: 4%;
  }

  .box:nth-child(n+2) .image {
    float: none;
    width: 100%;
    height: 130px;
    padding: 0;
  }

  img, .box:nth-child(n+2) .image {
    max-height: 100%;
  }

  .box:nth-child(n+2):nth-child(-n+5) .head {
    padding: 10px 5px 0 5px;
  }
}

@media screen and (min-width: 1000px) {

  .box {
    height: 370px;
    float: left;
  }

  .box:first-of-type, .box:last-of-type {
    width: 48%;
  }

  .box:nth-child(n+2):nth-child(-n+5) {
    width: 23%;
  }

  .box:last-of-type {
    clear: none;
  }

  .box:nth-child(even):nth-child(-n+5), .box:first-of-type, .box:nth-child(4n+1) {
    margin-right: 2%;
  }

}
